<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clue and Cue: Rules</title>
</head>
<body>
    <h1>Rules</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu convallis mauris. Duis consectetur elit ac suscipit pretium. In turpis mauris, dignissim ut ultricies quis, iaculis id lorem. Nullam nisl ex, luctus sit amet nisi eget, fermentum ullamcorper risus. Nam interdum vehicula lacinia. Suspendisse aliquam dolor ac volutpat finibus. Donec porta mi sit amet dolor venenatis, at iaculis orci ullamcorper. Sed mattis et est a luctus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu convallis mauris. Duis consectetur elit ac suscipit pretium. In turpis mauris, dignissim ut ultricies quis, iaculis id lorem. Nullam nisl ex, luctus sit amet nisi eget, fermentum ullamcorper risus. Nam interdum vehicula lacinia. Suspendisse aliquam dolor ac volutpat finibus. Donec porta mi sit amet dolor venenatis, at iaculis orci ullamcorper. Sed mattis et est a luctus.</p>
    <a href="/">Back to Menu</a>
</body>
</html>